.menu_container {
    margin-top: 60px;
    display: flex;
}
  
/* Styles for the dropdown menus container */
.dropdown_container {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* Styles for the plot */
.plot {
    margin-left: 100px;
    width: 60%; /* Adjust width as needed */
    height: 300px;
}